body {
    background-color: #f8f5f1;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



